<!DOCTYPE html>
<html lang="en">
{% extends 'menu.html' %}
<head>
    <meta charset="UTF-8">
     {% block title %}<title>Список игр</title>{% endblock %}
</head>
<body>
    {% block pagename %} <h1> Фильмы </h1> {% endblock %}

    {% block menu %} {{ block.super }} {% endblock %}

    {% block content %}
        {% for i in movies %}
            <ul>
                <li> {{ i }} <button>Отзыв</button></li>
            </ul>
        {% endfor %}
    {% endblock %}

</body>
</html>